<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="ion-text-center">Citations</div>
      <ion-searchbar 
        placeholder="Rechercher...." 
        [(ngModel)]="keywords" 
        (ionChange)="searchByKeywords()" 
        (ionClear)="clearKeywords()"
      ></ion-searchbar>
    </ion-title>
    <div slot="end" class="ion-padding-end wrap-pencil">
      <ion-icon name="pencil-outline" *ngIf="user !== null"></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content 
  [fullscreen]="true" 
  class="ion-padding"
  [scrollEvents]="true"
  (ionScroll)="handleScroll($any($event))"
>
<ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
  <ion-refresher-content
    pullingIcon="chevron-down-circle-outline"
    pullingText="Pull to refresh"
    refreshingSpinner="circles"
    refreshingText="Refreshing..."
  >
  </ion-refresher-content>
</ion-refresher>

  <ion-list id="list-citations">
    <ng-container *ngFor="let item of citations">
      <app-citation [citation]="item"></app-citation>
    </ng-container>
  </ion-list>

  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
