<ion-header [translucent]="true">
  <ion-toolbar>
    <section id="header-player">
<div [routerLink]="['/']">Accueil</div>
    </section>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <section id="wrap-music">
    <section id="section-titles">
      <div>{{folder}} : </div>
      {{str}}
      <div>
        <input type="text" [(ngModel)]="folder" (keyup)="str=''"><button type="button" (click)="getMusicFiles()">envoyer</button>
      </div>
    </section>
    <section id="section-playlists">

    </section>
    <section id="section-playlists">

    </section>
  </section>
  <section id="section-search">
fgggggg
  </section>
</ion-content>
