<ion-header [translucent]="true" >
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>cloud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div>
    <ion-button (click)="getCloud()" color="dark">
      <ion-icon name="cloud"></ion-icon>
    </ion-button>
  </div>
  <ion-list lines="inset" class="ion-margin-top">
    <ion-item *ngFor="let item of folder;let key = index;" (dblclick)="viewFile(key)">
      <ion-label>{{item.Key}}</ion-label>
      <!-- <div>{{item.LastModified | date:'dd/MM/yyyy hh:mm:ss'}}</div> -->
    </ion-item>
  </ion-list>

  

</ion-content>

<ion-modal [isOpen]="isModalOpen" cssClass="">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <section *ngIf="elmIndex !== null && signedUrl !== '' && mimeType !== undefined">
        <section *ngIf="mimeType.includes('image')">
          <img [src]="signedUrl" alt="">
        </section>
        <section *ngIf="['application/pdf', 'text/plain'].includes(mimeType)">
            <iframe [src]="signedUrl |safe:'resourceUrl'"></iframe>
        </section>
        <section *ngIf="mimeType.includes('video')">
            <video id="video" #video controls>
                <source src="" type="video/ogg">
                <source [src]="signedUrl" type="video/mp4">
            </video>
        </section>
        <section *ngIf="mimeType.includes('audio')">
            <audio controls>
                <source src="" type="audio/ogg">
                <source [src]="signedUrl" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </section>
      </section>
    </ion-content>
  </ng-template>
</ion-modal>