<ion-item *ngIf="citation !== null">
  <ion-avatar slot="start" *ngIf="citation['citation']['user'] !== null && citation['citation']['user']['photo']['name'] !== ''">
    <img [src]="citation['citation']['user']['photo']['url']" alt="" />
  </ion-avatar>
  <ion-avatar slot="start" *ngIf="citation['citation']['user'] === null || citation['citation']['user']['photo']['name'] === ''">
    <ion-icon name="person-circle-outline"></ion-icon>
  </ion-avatar>
  <ion-label>
    <h2 class="user-name" *ngIf="citation['citation']['user'] !== null">{{citation['citation']['user']['lastname']}} {{citation['citation']['user']['firstname']}}</h2>
    <h4 class="created">{{citation['citation']['created'] | date:'dd/MM/YYYY hh:mm:ss'}}</h4>
    <section [innerHTML]="citation['citation']['message']" class="wrap-message"></section>
    <section class="ion-padding-top" *ngIf="citation['citation']['photo'] !== null">
      <img src="{{citation['citation']['photo'][0]['url']}}" alt="">
    </section>
    <section class="ion-padding-top" *ngIf="citation['citation']['video'] !== null">
      <div *ngIf="citation['citation']['video']['kind']===1">
        <iframe [src]="citation['citation']['video']['url'] | safe: 'resourceUrl'"
        frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" controls allowfullscreen></iframe>
      </div>
      <div *ngIf="citation['citation']['video']['kind']===2" 
        [innerHTML]="citation['citation']['video']['url'] | safe: 'html'"
      ></div>
    </section>
    <section class="wrap-nbcomments ion-margin-top">
      <div>
        <ion-icon name="chatbubble-outline" class="icon"></ion-icon>
        <div>{{citation['nbComments']}}</div>
      </div>
      <div>
        <ion-icon name="heart-outline"></ion-icon>
        <div>0</div>
      </div>
      <div>
        <ion-icon name="arrow-redo-outline"></ion-icon>
      </div>
      <div>
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <ng-container *ngIf="user !==null && 
        (citation['citation']['user']?._id === user['_id'] || 
        user['roles'].includes('role_admin'))"
      >
        <div>
          <ion-icon name="trash-outline" (click)="deleteCitation();$event.stopPropagation()"></ion-icon>
        </div>
      </ng-container>
    </section>
  </ion-label>
</ion-item>
