ion-header {
    #user-photo {
        height: 56px;
        width:auto;
    }
}

#modalcitation {
    .list-citations {
        padding-left:20px;
        margin-bottom:20px;
    }
    .list-comments {
        padding-bottom:70px;
        ion-item {
            align-items: flex-start;
            ion-avatar {
                img,
                ion-icon[name="person-circle-outline"]{
                    width:40px;
                    height:40px;
                }
            }
            ion-label {
                white-space: normal;
                h2{
                    font-weight: bold;
                }
            }
            .wrap-message {
                margin-top:20px;
            }
        }
    }
}
