<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title slot="start">
      <ion-grid *ngIf="citation !== undefined">
        <ion-row>
          <ion-col *ngIf="citation.citation.user !== null && citation.citation.user.photo !== null && citation.citation.user.photo.url !== ''">
            <img src="{{citation.citation['user']['photo']['url']}}" alt="" id="user-photo">
          </ion-col>
          <ion-col>
            <div>{{citation.citation.user?.lastname}}</div>
            <div>{{citation.citation.user?.firstname}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content 
  [fullscreen]="true" 
  id="modalcitation"
  [scrollEvents]="true"
  (ionScroll)="handleScroll($any($event))"
>
  <ng-container *ngIf="citation !== undefined">
    <section id="modalcitation-content">
      <ion-list class="list-citations">
        <app-citation [citation]="citation"></app-citation>
      </ion-list>
      
      <ion-list lines="full" class="list-comments">
        <ion-item *ngFor="let item of comments;let key = index;">
          <ion-avatar slot="start" *ngIf="item['user']['photo']['name'] !== ''">
            <img [src]="item['user']['photo']['url']" alt="" />
          </ion-avatar>
          <ion-avatar slot="start" *ngIf="item['user']['photo']['name'] === ''">
            <ion-icon name="person-circle-outline"></ion-icon>
          </ion-avatar>
          <ion-label>
            <h2 class="user-name">
              {{item['user']['lastname']}} {{item['user']['firstname']}}
            </h2>
            <h4 class="created">
              <ion-text color="medium">{{item['created'] | date:'dd/MM/YYYY hh:mm:ss'}}</ion-text>
            </h4>
            <section [innerHTML]="item['message']" class="wrap-message"></section>
            <section class="ion-margin-top">
              <ion-grid>
                <ion-row>
                  <ion-col>
                    <ion-icon name="heart-outline"></ion-icon>
                    0
                  </ion-col>
                  <ion-col>
                    <ion-icon name="copy-outline"></ion-icon>
                  </ion-col>
                  <ion-col>
                    <ion-icon 
                      name="trash-outline" 
                      class="pointer" 
                      *ngIf="user !== null && (user['roles'].includes('role_admin') || item['user']['_id']===user['_id'])"
                      (click)="deleteComment(key)"
                    ></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </section>
          </ion-label>
        </ion-item>
      </ion-list>
    </section>

    <ion-modal [isOpen]="isCommentModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-title>Commentaire</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="setIsCommentModalOpen(false)">Fermer</ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">
          <form #commentform="ngForm" (ngSubmit)="editComment()" id="comment-form">
            <div class="ion-margin-bottom">
              <label for="comment-message">Message</label>
              <quill-editor format="html" theme="snow" [styles]="{height: '200px'}" [modules]="modules" name="message" #message="ngModel" [(ngModel)]="commentM['message']"></quill-editor>
            </div>
            <ion-button expand="block" color="dark" type="submit" [disabled]="commentM['message']===''" class="ion-margin-top">Envoyer</ion-button>
          </form>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="user !== null">
      <ion-fab-button>
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button>
          <ion-icon name="add-outline" (click)="setIsCommentModalOpen(true)"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="pencil-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="trash-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>
</ion-content>
